#!ipxe

# run config for specific host name (if available)
isset ${hostname} && chain --replace --autofree config-host-${hostname}.ipxe ||
# run config for specific SMBIOS UUID (if available)
isset ${smbios/uuid} && chain --replace --autofree config-uuid-${smbios/uuid}.ipxe ||
# run config for specific MAC address (if available)
chain --replace --autofree config-mac-${mac:hexraw}.ipxe ||

# load settings for specific board model (if available)
isset ${smbios/product} && chain --autofree config-product-${smbios/product}.ipxe ||
# load settings for specific manufacturer
# (for virtual machines: manufacturer == QEMU)
isset ${smbios/manufacturer} && chain --autofree config-manufacturer-${smbios/manufacturer}.ipxe ||

:start

set server {{ altinstall_http_server }}
{% if target_cpu in altinstall_ipxe_use_tftp and altinstall_ipxe_use_tftp[target_cpu]|bool %}
{% set kernel_url_prefix = "" %}
# Use TFTP on {{ target_cpu }} since HTTP causes problems
{% else %}
{% set kernel_url_prefix = "http://%s/" % altinstall_http_server %}
{% endif %}

menu Boot options

{% for item in alt_images %}
{% if target_cpu == item.alt_arch %}
{% set item_label_base = item.name|regex_replace(' ', '_')|lower %}
{% if 'livecd' in item.variants|default(['livecd', 'install']) %}
item {{ item_label_base }}-livecd {{ item.name }} LiveCD, via HTTP
item {{ item_label_base }}-livecd-cifs {{ item.name }} LiveCD, via CIFS
{% endif %}
{% if 'install' in item.variants|default(['livecd', 'install']) %}
item {{ item_label_base }}-install  Install {{ item.name }}, via HTTP
item {{ item_label_base }}-install-cifs  Install {{ item.name }}, via CIFS
{% endif %}
{% endif %}
{% endfor %}
item shell iPXE shell
item exit Exit to firmware

{% if target_cpu in altinstall_default_image %}
choose --default {{ altinstall_default_image[target_cpu]|regex_replace(' ', '_')|lower }}-livecd --timeout 30000 option && goto ${option}
{% else %}
choose option && goto ${option}
{% endif %}

:shell shell

:exit exit

{% for item in alt_images %}
{% if target_cpu == item.alt_arch %}
{% set item_label_base = item.name|regex_replace(' ', '_')|lower %}
{% set item_netboot_dir = "tftp/netboot/{0}/{1}".format(item.alt_arch, item_label_base) %}
{% set item_netboot_url = kernel_url_prefix + item_netboot_dir  %}

{% if item.kernel_url is defined %}
{% set item_kernel_url = item.kernel_url %}
{% else %}
{% set item_kernel_url = item_netboot_url + item.kernel %}
{% endif %}

{% if item.initrd_url is defined %}
{% set item_initrd_url = item.initrd_url %}
{% else %}
{% set item_initrd_url = item_netboot_url + item.initrd %}
{% endif %}

{% if item.stage2_http_url is defined %}
{% set item_stage2_http_url = item.stage2_http_url %}
{% elif item.http_iso_boot|default('false')|bool %}
{% set item_stage2_http_url = altinstall_http_dist + '/' + item.url|basename %}
{% else %}
{% set item_stage2_http_url = "http://" + altinstall_http_server + "/" + item_netboot_dir %}
{% endif %}

{% if 'livecd' in item.variants|default(['livecd', 'install']) %}
{% if not(item.http_iso_boot|default('false')|bool) %}
{% set item_live_ramdisk_size = (item.live_size|float / 1024)|round(0, 'ceil')|int %}
{% endif %}

:{{ item_label_base }}-livecd
{% for cfg in item.extra_ipxe_conf|default([]) %}
# {{ cfg.comment }}
{{ cfg.snippet }}
{% endfor %}
kernel {{ item_kernel_url }} initrd={{ item.initrd|basename }} changedisk fastboot live automatic=method:http,network:dhcp,server:{{ item_stage2_http_url|urlsplit('hostname') }},directory:{{ item_stage2_http_url|urlsplit('path') }} ramdisk_size={{ item_live_ramdisk_size }} stagename=live showopts ${linux_extra_cmdline}
initrd {{ item_initrd_url }}
boot

:{{ item_label_base }}-livecd-cifs
{% for cfg in item.extra_ipxe_conf|default([]) %}
# {{ cfg.comment }}
{{ cfg.snippet }}
{% endfor %}
kernel {{ item_kernel_url }} initrd={{ item.initrd|basename }} changedisk fastboot live automatic=method:cifs,network:dhcp,server:{{ altinstall_cifs_share|urlsplit('hostname') }},directory:{{ altinstall_cifs_share|urlsplit('path') }}/{{ item.url|basename }} ramdisk_size={{ item_live_ramdisk_size }} stagename=live showopts ${linux_extra_cmdline}
initrd {{ item_initrd_url }}
boot
{% endif %}{# 'livecd' in item.variants #}

{% if 'install' in item.variants|default(['livecd', 'install']) %}
{% if not(item.http_iso_boot|default('false')|bool) %}
{% set item_altinst_ramdisk_size = (item.altinst_size|float / 1024)|round(0, 'ceil')|int %}
{% endif %}
:{{ item_label_base }}-install
{% for cfg in item.extra_ipxe_conf|default([]) %}
# {{ cfg.comment }}
{{ cfg.snippet }}
{% endfor %}
kernel {{ item_kernel_url }} initrd={{ item.initrd|basename }} changedisk fastboot live automatic=method:http,network:dhcp,server:{{ item_stage2_http_url|urlsplit('hostname') }},directory:{{ item_stage2_http_url|urlsplit('path') }} ramdisk_size={{ item_altinst_ramdisk_size }} stagename=altinst showopts ${linux_extra_cmdline}
initrd {{ item_initrd_url }}
boot

:{{ item_label_base }}-install-cifs
{% for cfg in item.extra_ipxe_conf|default([]) %}
# {{ cfg.comment }}
{{ cfg.snippet }}
{% endfor %}
kernel {{ item_kernel_url }} initrd={{ item.initrd|basename }} changedisk fastboot live automatic=method:cifs,network:dhcp,server:{{ altinstall_cifs_share|urlsplit('hostname') }},directory:{{ altinstall_cifs_share|urlsplit('path') }}/{{ item.url|basename }} ramdisk_size={{ item_altinst_ramdisk_size }} stagename=altinst showopts ${linux_extra_cmdline}
initrd {{ item_initrd_url }}
boot
{% endif %} {# "install" in item.variants #}
{% endif %} {# target_cpu == item.alt_arch #}
{% endfor %}
